body {
    background: url(images/bg-2.jpg) no-repeat;
    background-size: cover;
    /* height: 100vh; */
}

.button-div{
    margin-top: 50px;
}

.qoute{
    color: white;
    margin-top: 50px;
    padding: 50px;
}